<a href="https://colab.research.google.com/github/VinMaghirang/CPEN21A-PLD-1-2/blob/main/Intro_to_python_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Indentation

In [6]:
if 5>3:
  print ("5 is greater that 3")  #This is a comment

5 is greater that 3

##Variable Declaration

In [28]:
#variable with a single value
x=5
y=3
if x<y:
  print ("x is greater than y")
else:
  print ("y is greater than x")


#variable with multiple values

a,b = 1,2
print ("The value of a is:",a)
print ("The value of b is:",b)

#multiple variables with a single value

p=q=r= 'Cute'
print(p)
print(q)
print(r)

y is greater than x
The value of a is: 1
The value of b is: 2
Cute
Cute
Cute

###Output Variable

In [29]:
o = 'is enjoying'
print("python programming"+" "+o)   #append is enjoying

python programming is enjoying

#Casting and Type() Function

In [16]:
f = int(4)   #integer
g=float(4)   #decimal/functional

print(f)
print(g)

print(type(f))
print(type(g))

4
4.0
<class 'int'>
<class 'float'>

#Double qoute or single qoute

In [20]:
name = "Vin"
name1 = 'Ellaine'
name2 = 'Maghirang'

print(name)
print(name1)
print(name2)

Vin
Ellaine
Maghirang

#Case Sensitive

In [ ]:
a = 'Ana'
print(a)